<div id="imageAndTagline">
  <div class="largeText1">Don't get a job. Make one.</div>
  <%= image_tag("/images/meeting.png", :alt => "Meeting") %>
</div>

<div>
  <div class="largeText2">Fostering Entrepreneurship at Georgia Tech.</div>
  
  <div class="row-fluid">
    <div class="span4 offset2">
      We want students to start companies and understand that getting a job isn't the only option. We meet on the last Tuesday of every month at Startup Exchange (old Presentation Rehearsal Room) in the Georgia Tech Library.
    </div>
    <div class="span4">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis accumsan, erat sit amet porttitor consectetur, orci tellus gravida felis, tempus ullamcorper lorem nunc nec ante. Donec sed commodo erat. Nunc elementum neque sed magna commodo porttitor. Aliquam erat volutpat. Praesent laoreet lectus in libero luctus porta. Fusce eget arcu et nulla aliquam consequat vitae vitae diam. Nulla sit amet viverra ipsum. Morbi non neque ac ligula eleifend auctor.</p>
    </div>
  </div>

  <div class="largeText4">So come on out and throw down!</div>
</div>