<h1>Listing calendars</h1>

<%= calendar @events do |event| %>
  <div><%= link_to event.title, event %></div>
<% end %>

<% if current_user.admin? %>
  <%= link_to 'Create Event', new_event_path %>
<% end %>
